.pokemonDetailContainer {
  text-align: center;
  background-color: #f5f5f5; 
  height: 100vh;
}

.pageTitle {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 0;
  color: #d91d30; 
}

.pokemonInfo {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.pokemonImage {
  max-width: 100%;
  height: auto;
  margin: 18px 0;
}

.pokemonTypes {
  margin-top: 10px;
}

.pokemonType {
  display: inline-block;
  padding: 5px 10px;
  background-color: #d91d30;
  color: #fff;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
}
.normal {
  background-color: #a8a878;
  color: white;
}

.fighting {
  background-color: #c03028;
  color: white;
}

.flying {
  background-color: #a890f0;
  color: white;
}

.poison {
  background-color: #a040a0;
  color: white;
}

.ground {
  background-color: #e0c068;
  color: black;
}

.rock {
  background-color: #b8a038;
  color: white;
}

.bug {
  background-color: #a8b820;
  color: black;
}

.ghost {
  background-color: #705898;
  color: white;
}

.steel {
  background-color: #b8b8d0;
  color: black;
}

.fire {
  background-color: #f08030;
  color: white;
}

.water {
  background-color: #6890f0;
  color: white;
}

.grass {
  background-color: #78c850;
  color: white;
}

.electric {
  background-color: #f8d030;
  color: black;
}

.psychic {
  background-color: #f85888;
  color: white;
}

.ice {
  background-color: #98d8d8;
  color: black;
}

.dragon {
  background-color: #7038f8;
  color: white;
}

.dark {
  background-color: #705848;
  color: white;
}

.fairy {
  background-color: #ee99ac;
  color: black;
}

.default {
  background-color: #cccccc;
  color: black;
}

@media screen and (min-height: 843px) and (max-height: 870px){
  .pokemonInfo{
    height: 769px;
    padding-bottom: 0;
  }
}
@media screen and (height: 896px) and (width:414px){
  .pokemonInfo{
    height: auto;
    padding-bottom: 10px;
  }
}